/* STYLES INDEX.HTML */

/* FONTFAMILY */
@font-face {
    font-family: "cantarell";
    src        : url("fonts/Cantarell-Regular.ttf");
}

* {
    font-family: cantarell;
}

/* COLOR OF TEXT */
p.text-color {
    color    : #003545d5;
    font-size: 1.1rem;
}

/* NAVBAR */
nav {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

nav div a.title {
    color      : #003545;
    font-size  : 2rem;
    font-weight: 700;
}

nav div button i.icono-nav {
    color: #003545;
}

nav div div ul li a.button-txt {
    color           : #003545a8;
    font-size       : 1.1rem;
    padding         : .25rem 0;
    font-weight     : 700;
    background-color: transparent;
    border-bottom   : .25rem solid transparent;
}

nav div div ul li a.nav-link:hover,
.nav-link:focus {
    border-bottom-color: #ed63638f;
    color              : #003545;
}

nav div div ul li a.active {
    border-bottom-color: #ed6363;
    color              : #003545;
}

header div a.disabled-language {
    pointer-events: none;
    cursor: default;
}
header div a.language-not-select {
    opacity: 0.6;
}


/* MAIN */

.masthead {
    background           : no-repeat center center;
    background-attachment: scroll;
    position             : relative;
    background-size      : cover;
}

.masthead .overlay {
    position        : absolute;
    top             : 0;
    left            : 0;
    height          : 100%;
    width           : 100%;
    background-color: #212529;
    opacity         : 0.5;
}

.masthead .page-heading,
.masthead .post-heading,
.masthead .site-heading {
    padding: 200px 0 150px;
    color  : white;
}

@media only screen and (min-width: 768px) {

    .masthead .page-heading,
    .masthead .post-heading,
    .masthead .site-heading {
        padding: 200px 0;
    }
}

.masthead .page-heading,
.masthead .site-heading {
    text-align: center;
}

.masthead .page-heading h1,
.masthead .site-heading h1 {
    font-size : 50px;
    margin-top: 0;
}

.masthead .page-heading .subheading,
.masthead .site-heading .subheading {
    font-size  : 24px;
    font-weight: 300;
    line-height: 1.1;
    display    : block;
    margin     : 10px 0 0;
}

@media only screen and (min-width: 768px) {

    .masthead .page-heading h1,
    .masthead .site-heading h1 {
        font-size: 80px;
    }
}

.masthead .post-heading h1 {
    font-size: 35px;
}

.masthead .post-heading .meta,
.masthead .post-heading .subheading {
    line-height: 1.1;
    display    : block;
}

.masthead .post-heading .subheading {
    font-size  : 24px;
    font-weight: 600;
    margin     : 10px 0 30px;
}

.masthead .post-heading .meta {
    font-size  : 20px;
    font-weight: 300;
    font-style : italic;
}

.masthead .post-heading .meta a {
    color: #fff;
}

@media only screen and (min-width: 768px) {
    .masthead .post-heading h1 {
        font-size: 55px;
    }

    .masthead .post-heading .subheading {
        font-size: 30px;
    }
}

/* LINKS CONTACT AND EMAIL */
main section article div p.txt-number-email {
    font-size  : 17px;
    font-weight: 500;
}

main section article hr {
    border-color: #00454a2f;
}

main section article div p a.number-email:link {
    font-weight: 650;
    color      : #ed6363;
}

main section article div p a.number-email:hover,
:visited,
:active {
    text-decoration: none;
}


/* BOX WITH DESCRIPTION OF THE PRODUCT */
main section article div h2.title-article {
    color: #003545;
}

main section article div.project-color {
    background-color: #003545;
}

main section article div div div div div div h2.project-txt {
    font-size: 2.5rem;
}

main section article div div div div div div p.project-txt {
    font-size: 1rem;
}

@media (min-width: 992px) {
    main section article div.projects-section .featured-text {
        padding    : 0 0 0 2rem;
        border-left: 0.5rem solid #ed6363;
    }
}

main section article div.projects-section .project-text {
    padding  : 3rem;
    font-size: 90%;
}

@media (min-width: 992px) {
    main section article div.projects-section .project-text {
        padding: 5rem;
    }

    main section article div.projects-section .project-text hr {
        border-color: #ed6363;
        border-width: 0.25rem;
        width       : 30%;
    }
}

/* SERVICES */
main section article div div h2.service-title {
    color: #003545;
}

main section article div div i {
    color: #003545;
}

main section article div div div div div h3.service-subtitle {
    color: #003545;
}

main section article div div div div div p.service-txt {
    color: #003545d5;
}

main section article div div hr.line-service {
    width       : 10%;
    border      : 2px solid #ed6363;
    border-color: #ed6363;
}



/*PROJECTS*/

#portfolio .container-fluid,
#portfolio .container-sm,
#portfolio .container-md,
#portfolio .container-lg,
#portfolio .container-xl {
    max-width: 1920px;
}

#portfolio .container-fluid .portfolio-box,
#portfolio .container-sm .portfolio-box,
#portfolio .container-md .portfolio-box,
#portfolio .container-lg .portfolio-box,
#portfolio .container-xl .portfolio-box {
    position: relative;
    display : block;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption,
#portfolio .container-sm .portfolio-box .portfolio-box-caption,
#portfolio .container-md .portfolio-box .portfolio-box-caption,
#portfolio .container-lg .portfolio-box .portfolio-box-caption,
#portfolio .container-xl .portfolio-box .portfolio-box-caption {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    width          : 100%;
    height         : 100%;
    position       : absolute;
    bottom         : 0;
    text-align     : center;
    opacity        : 0;
    color          : #fff;
    background     : rgba(237, 99, 99, 0.8);
    transition     : opacity 0.25s ease;
    text-align     : center;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category,
#portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category,
#portfolio .container-md .portfolio-box .portfolio-box-caption .project-category,
#portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category,
#portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category {
    font-size     : 0.85rem;
    font-weight   : 600;
    text-transform: uppercase;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-md .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name {
    font-size: 1.2rem;
}

#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-sm .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-md .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-lg .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-xl .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}


.page-section {
    padding: 8rem 0;
}

/* FOOTER */

footer section div div div h2 {
    color: #003545d5;
}

footer section div div div p.footer-txt {
    color: #003545d5;
}

footer section div div div hr {
    border-color: #00454a2f;
}

footer section div div div i {
    color: #003545;

}

footer section div div div a.number-email-footer {
    font-weight: 500;
    color      : #ED6363
}

footer section div div div a.number-email-footer:hover,
:visited,
:active {
    text-decoration: none;
}

footer section div div p a.buttons-social {
    color: #003545;
}

footer section div div p a.buttons-social:hover {
    color: #ED6363;
}

footer section div div p a.buttons-social:visited,
:active {
    text-decoration: none;
}

footer div.footer-color {
    background-color: #003545;
}


/* STYLES GARDEN-MAINTENACE, LANDSCAPING, PRUNING AND OLIVE-TREE-PLANTATION */

/* POST CONTENT */
article div div div h2.title-post {
    color: #003545;
}


/* STYLES IBIZA-GARDEN-DESING */

/* PROJECTS */
article div div div h3.project-title {
    font-size: 38px;
}

article div div div p.project-text {
    font-size: 1.1rem;
}